<footer>
    <div class="contentBodyFooter">
    <p class="footerLogo">
        <img src="./img/logo_small.png">
        Kochwelt
    </p>
    <p class="footerContent">Willkommen in der Kochwelt von der Kochwelt Gruppe 453. Wir hoffen Sie finden genau das was Sie gerne Kochen möchten <br><b> Ihr Kochwelt Gruppen Team 453</b></p>
    <div class="footerNav">
        <a href="kontakt.html">Kontakt</a>
        <a href="datenschutz.html">Datenschutz</a>
        <a href="impressum.html">Impressum</a>
        <hr />
        © Kochwelt Gruppe 453
    </div>
</div>
</footer>
