<footer>
    <div class="contentBodyFooter">
    <p class="footerLogo">
        <img src="./img/logo_small.png">
        Kochwelt
    </p>
    <p class="footerContent">Willkommen in der Kochwelt von der Kochwelt Gruppe 453. Wir hoffen Sie finden genau das was Sie gerne Kochen möchten <br><b> Ihr Kochwelt Gruppen Team 453</b></p>
    <div class="footerNav">
        <a href="kontakt.html">Kontakt</a>
        <a href="datenschutz.html">Datenschutz</a>
        <a href="impressum.html">Impressum</a>
        <hr />
        © Kochwelt Gruppe 453
    </div>
</div>
<script id="CookieDeclaration" src="https://consent.cookiebot.com/d3d63e2e-1fae-4f0b-adeb-bb6c172b94df/cd.js" type="text/javascript" async></script>
</footer>
